.DS_Store
build.log
npm-debug.log
tmp
.map
*.sublime-project
*.sublime-workspace
/platform
app/lib/config/aws-config.js
.settings/com.appcelerator.titanium.android.core.prefs
plugins/ti.alloy/hooks/deepclean.js
plugins/ti.alloy/hooks/alloy.js
/i18n
.settings
icon?
/build
/Resources
/Pods